absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
astunparse
async-timeout
attrs
bcrypt
beautifulsoup4
bitsandbytes
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
clang
click
colorama
comm
contourpy
cryptography
cycler
datasets
debugpy
decorator
dill
dnspython
docker-pycreds
email_validator
exceptiongroup
executing
fastapi
filelock
filetype
Flask
Flask-Bcrypt
Flask-Caching
Flask-Dance
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-OAuthlib
Flask-PyMongo
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google
google-pasta
greenlet
grpcio
h11
h5py
huggingface-hub
idna
importlib_metadata
importlib_resources
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jwt
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
ml_dtypes
mpmath
multidict
multiprocess
namex
narwhals
nest-asyncio
networkx
nltk
numpy>=1.26.0
oauthlib
opencv-contrib-python
opencv-python-headless
opt_einsum
optree
outcome
packaging
pandas
parso
pasta
peft
pillow
pillow_heif
platformdirs
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pymongo
PyMySQL
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
pywin32; sys_platform == "win32"
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
roboflow
rpds-py
safetensors
schedule
scipy
seaborn
selenium
sentencepiece
six
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers==4.51.3
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
URLObject
watchdog
wcwidth
websocket-client
Werkzeug
wrapt
wsproto
WTForms
xxhash
yarl
zipp
