* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.login-container {
    display: flex;
    height: 100vh;
    background-image: url('/static/images/BG.png'); /* Ganti dengan path gambar map */
    background-size: cover; /* Mengisi seluruh area */
    background-position: center; /* Memposisikan gambar di tengah */
}

.profile-container {
    margin-top: 60px;
    display: flex;
    overflow-y: auto;
    height: 90vh;
    background-image: url('/static/images/BG.png'); /* Ganti dengan path gambar map */
    background-size: cover; /* Mengisi seluruh area */
    background-position: center; /* Memposisikan gambar di tengah */
}

.profile-box {
    max-height: 500px; /* Atur tinggi maksimum sesuai kebutuhan */
    overflow-y: auto;  /* Mengizinkan scrolling vertikal */
    padding: 20px;     /* Tambahkan padding agar konten tidak mentok ke tepi */
    border: 1px solid #ccc; /* Tambahkan border untuk visualisasi */
    border-radius: 8px; /* Membuat sudut menjadi bulat */
    background-color: #f9f9f9; /* Warna latar belakang kotak */
}



.image-side {
    width: 50%; /* Mengisi setengah lebar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-side img {
    width: 80%;
}

.login-side {
    width: 70%; /* Mengisi setengah lebar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-top: 40px;
}

.title-box {
    background-color: red; 
    padding: 15px; 
    border-radius: 8px 8px 0 0; 
    margin-bottom: 20px; 
    text-align: center;

}

h2 {
    color: #fff;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn-login {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: darkred;
}

.login-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.otp-input-group {
    text-align: center;
    margin-bottom: 20px;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.otp-input {
    width: 40px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.otp-input:focus {
    border-color: red;
}



.btn-faceid {
    background-color: red;
    color: white;
    display: flex; /* Flexbox untuk menampung ikon dan teks */
    align-items: center; /* Pusatkan vertikal */
    justify-content: center; /* Pusatkan horizontal */
}

.btn-google {
    background-color: rgb(67, 60, 60);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menambahkan margin di antara tombol */
.social-buttons {
    display: flex;
    gap: 10px; /* Spasi antar tombol */
    margin-top: 20px; /* Jarak dari tombol sebelumnya */
}

.social-buttons img {
    width: 20px; /* Ukuran ikon */
    margin-right: 8px; /* Jarak antara ikon dan teks */
}

.btn-faceid img {
    width: 20px; /* Ukuran ikon Face ID */
    margin-right: 8px; /* Jarak antara ikon dan teks */
}

.flashes {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.flashes li {
    background-color: #d4edda; /* Background hijau untuk sukses */
    color: #155724; /* Teks hijau */
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 10px;
}



/* HOMEPAGE */

.home-container-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('/static/images/BG2.png'); /* Ganti dengan path gambar map */
    background-size: cover; /* Mengisi seluruh area */
    background-position: center; /* Memposisikan gambar di tengah */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: red;
    position: fixed;  
    top: 0;           
    left: 0;
    width: 100%;      
    z-index: 1000;    
}

.navbar-homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: red;
    color: white;
    position: fixed;  
    top: 0;           
    left: 0;
    width: 100%;   
    height: 10%;   
    z-index: 1000;    
}

.navbar .logo h2 {
    margin-left: 10px;
}

.navbar-homepage .logo h2 {
    margin-left: 10px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 40px;
    text-align: center;
}

.main-content h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 40px;
}

.main-content-homepage {
    padding: 20px;
    margin-top: 60px;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: white;
    color: red;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-sosial {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-1 {
    background-color: white;
    color: red;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: red;
    border: 2px solid red;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background-color: darkred;
}

.btn-1:hover {
    background-color: grey;
}


.logo {
    display: flex; 
    align-items: center; 
}

.logo-img {
    width: 50px; 
    height: auto; 
}

.logo-text {
    color: red;
    font-size: 24px; 
    margin: 0; 
}

.logo-text-2 {
    color: white;
    font-size: 24px; 
    margin: 0; 
}

.search-bar {
    display: flex;
    flex: 1;
    margin-left: 20px;
}
.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.search-bar select {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}
.search-bar button {
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.icons {
    display: flex;
    align-items: center;
}
.icons img {
    width: 30px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

section {
    margin-top: 60px; /* Tambahkan margin-top setinggi navbar */
    padding: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}
.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    gap: 15px;
}
.card {
    flex: 0 0 auto;
    width: 120px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    text-align: center;
}
.card:hover {
    transform: scale(1.05); /* Membesarkan sedikit saat hover */
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;  
}
.card p {
    margin: 10px 0;
    color: white;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    background-color: red;
    
}

footer p {
    color: white;
}


.setting-title {
    font-size: 24px;
    color: #E30613;
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #E30613;
}

.edit-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-image {
    width: 48%;
    margin-bottom: 10px;
}


.form-group {
    width: 48%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 10px; /* Mengatur jarak antar elemen */
}

.gender-options input[type="radio"] {
    margin-right: 5px; /* Jarak antara radio button dan label */
}

.gender-options label {
    margin-right: 20px; /* Jarak antar pasangan radio button dan label */
}


.save-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #E30613;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #B70510;
}


@media screen and (max-width: 768px) {
    .cta-buttons {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links ul {
        flex-direction: column;
    }
}

