<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jejak Tokoh Inspiratif Indonesia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <!-- Navbar -->
        <div class="navbar">
            <div class="logo">
                <img src="/static/images/LOGO.png" alt="Logo" class="logo-img">
                <h2 class="logo-text">JETOKIN</h2>
            </div>
            <div class="nav-links">
                <ul>
                    <div class="cta-buttons"></div>
                        <button class="btn" href="#">Contact</button>
                        <button class="btn" href="#">Get App</button>
                        <button><a href="{{ url_for('login') }}" class="btn-1">GET STARTED</a></button>
                    </div>
                </ul>
            </div>
        </div>

    <div class="home-container-2">
        <!-- Main Content -->
        <div class="main-content">
            <h1>Jelajahi Jejak Tokoh-Tokoh Inspiratif Indonesia</h1>
            <p>Mengenal lebih dalam sosok-sosok berpengaruh di Indonesia. Dapatkan informasi lengkap tentang tokoh-tokoh bersejarah dan modern yang telah membentuk Indonesia. Dari pejuang kemerdekaan hingga inovator masa kini, semua ada di sini!</p>

        </div>

        <!-- Hero Image Section -->
        <div class="hero-section">
            <img src="{{ url_for('static', filename='images/tokoh.png') }}" alt="Tokoh-Tokoh Indonesia" class="hero-img">
        </div>
    </div>

</body>
</html>
