<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Jejak Tokoh Indonesia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="image-side">
            <!-- Jika ingin menambahkan gambar lain, bisa ditambahkan di sini -->
        </div>
        <div class="login-side">
            <div class="login-box">
                <div class="title-box">
                    <h2>JEJAK TOKOH INDONESIA: PAHLAWAN, PEMIMPIN & INSPIRATOR</h2>
                </div>
                <p>Selamat datang! Silakan daftarkan akun Anda.</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            <script>console.log("Message: {{ message }} | Category: {{ category }}");</script>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-group">
                        {{ form.fullname.label }}<br>
                        {{ form.fullname(size=32) }}
                    </div>
                    <div class="input-group">
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}
                    </div>
                    <div class="input-group">
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </div>
                    <div class="input-group">
                        {{ form.confirm_password.label }}<br>
                        {{ form.confirm_password(size=32) }}
                    </div>
                    <div class="input-group">
                        {{ form.gender.label }}<br>
                        {{ form.gender() }}
                    </div>
                    <div class="social-buttons">
                        <div class="input-group">
                            {{ form.submit(class="btn-register") }}
                        </div>
                    </div>
                </form>
                <div class="login-options">
                    <p>Sudah punya akun? <a href="{{ url_for('login') }}">Login disini</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
