<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Jejak Tokoh Indonesia</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="login-container">
        <div class="image-side">
            <!-- Jika ingin menambahkan gambar lain, bisa ditambahkan di sini -->
        </div>
        <div class="login-side">
            <div class="login-box">
                <div class="title-box">
                    <h2>JEJAK TOKOH INDONESIA: PAHLAWAN, PEMIMPIN & INSPIRATOR</h2>
                </div>
                <p>Reset password anda</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    <script>console.log("Message: {{ message }} | Category: {{ category }}");</script>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form method="POST">
                    <div class="input-group">
                        <label for="new_password">Password Baru</label><br>
                        <input type="password" name="new_password" id="new_password" required size="32">
                    </div>
                    <div class="input-group">
                        <label for="confirm_password">Konfirmasi Password</label><br>
                        <input type="password" name="confirm_password" id="confirm_password" required size="32">
                    </div>
                    <div class="social-buttons">
                        <div class="input-group">
                            <input type="submit" value="Reset Password" class="btn-login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>